@charset "gb2312";
/* header */
header{width:100%;margin:0 auto;position:relative; z-index:1000; height:80px;background: none repeat scroll 0 0 rgba(245, 245, 245, 0.6);}
#logo{width:20%;height:50px;float:left;margin:25px 0 0 0;padding:0;}
#logo img{ float:left;margin-left:20px; margin-right:10px;transition:All 1s ease;-webkit-transition:All 1s ease;-moz-transition:All 1s ease;-o-transition:All 1s ease;}
#logo img:hover{transform: rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
#logo h1{ line-height:50px; color:#635c5c;font-family:"Microsoft YaHei", "Lucida Grande", Arial, Helvetica, sans-serif; }
/* wrap-menu */
#wrap-menu{ float:right;margin:35px 0 0 0;width:80%;}
#header-menu{height:24px;float:left;}
#header-menu > li{height:24px;float:left;position:relative; width:130px}
#header-menu > li > a{float:left;margin:0 0 0 10px;font-size:14px;color:black;padding:5px 10px 5px 10px;-moz-border-radius: 3px;	-webkit-border-radius: 3px;	border-radius:3px;text-decoration:none;}
#header-menu > li > a:hover{ background:#99bbff;color:#fff;cursor: pointer;}
#header-menu .arrowdown > a{ background:url(../images/menu-arrow.png) no-repeat right;padding:5px 30px 4px 10px;}
#header-menu .arrowdown > a:hover{ background:#99bbff url(../images/menu-arrow-hover.png) no-repeat right;padding:5px 30px 4px 10px;color:#fff;}
#header-menu .active a{color:#fff;background:#99bbff url(../images/menu-arrow-hover.png) no-repeat right;}
/* second lvl */
#header-menu ul.second-lvl{width:150px;position:absolute;top:27px;left:10px;background:#99bbff;color:#fff;z-index:1000;padding:20px 0 20px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-bottom-left-radius:3px; 
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	display:none;
/* 	background: none repeat scroll 0 0 rgba(245, 245, 245, 0.6); */
}
#header-menu ul.second-lvl li{width:150px;float:left;display:inline;position:relative;}
#header-menu ul.second-lvl a{width:130px;float:left;font-size:14px;background:#99bbff;color:#fff;padding:6px 10px 6px 10px;text-decoration:none;}
#header-menu ul.second-lvl a:hover{background:rgba(255,255,0,0.5);color:#fff;}
#header-menu ul.second-lvl li.arrowright > a{background:url(../images/menu-arrow-right.png) no-repeat center right;}
#header-menu ul.second-lvl li.arrowright > a:hover{background:#fdff7f url(../images/menu-arrow-right.png) no-repeat center right;}
/* third lvl */
#header-menu ul.third-lvl{width:150px;position:absolute;top:-20px;left:150px;background:white;color:#fff;z-index:1000;padding:20px 0 20px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-bottom-left-radius:3px; 
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	display:none;	
}
#header-menu ul.third-lvl li{width:150px;float:left;display:inline;}
#header-menu ul.third-lvl a{width:130px;float:left;font-size:14px;background:gray;color:#fff;padding:6px 10px 6px 10px;text-decoration:none;}
#header-menu ul.third-lvl a:hover{background:#444;color:#fff;}
